openapi: 3.0.3
info:
  title: Alibaba Cloud Model Studio DashScope API
  version: 1.0.0
  description: Hand-maintained OpenAPI document for DashScope text generation, multimodal generation, image tasks, video tasks, and embedding APIs.
servers:
  - url: https://dashscope-intl.aliyuncs.com/api/v1
    description: Singapore region. Override the client base URI for other DashScope regions.
security:
  - BearerAuth: []
paths:
  /services/aigc/text-generation/generation:
    post:
      operationId: createTextGeneration
      tags:
        - Generation
      summary: Create a text generation request
      parameters:
        - $ref: "#/components/parameters/SseHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashScopeRequest"
      responses:
        "200":
          description: Generation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashScopeResponse"
  /services/aigc/multimodal-generation/generation:
    post:
      operationId: createMultimodalGeneration
      tags:
        - Generation
      summary: Create a multimodal generation request
      description: Creates synchronous multimodal generation requests, including Qwen image-edit models and Wan 2.6 image generation/editing models.
      parameters:
        - $ref: "#/components/parameters/SseHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashScopeRequest"
      responses:
        "200":
          description: Multimodal generation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashScopeResponse"
  /services/aigc/image-generation/generation:
    post:
      operationId: createImageGenerationTask
      tags:
        - Images
      summary: Create an asynchronous image generation task
      parameters:
        - $ref: "#/components/parameters/AsyncHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashScopeRequest"
      responses:
        "200":
          description: Image generation task response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashScopeResponse"
  /services/aigc/video-generation/video-synthesis:
    post:
      operationId: createVideoGenerationTask
      tags:
        - Videos
      summary: Create an asynchronous Wan video generation task
      description: Creates a DashScope Wan video generation task, including text-to-video, legacy image-to-video, Wan 2.7 image-to-video, video continuation, and reference-to-video requests. Poll `/tasks/{task_id}` with the returned task ID to retrieve the result.
      parameters:
        - $ref: "#/components/parameters/AsyncHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashScopeRequest"
      responses:
        "200":
          description: Video generation task response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashScopeResponse"
  /tasks/{task_id}:
    get:
      operationId: getTask
      tags:
        - Tasks
      summary: Retrieve an asynchronous task result
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/WorkspaceHeader"
      responses:
        "200":
          description: Task result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashScopeResponse"
  /services/embeddings/text-embedding/text-embedding:
    post:
      operationId: createTextEmbedding
      tags:
        - Embeddings
      summary: Create text embeddings
      parameters:
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbeddingRequest"
      responses:
        "200":
          description: Embedding response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbeddingResponse"
  /services/embeddings/multimodal-embedding/multimodal-embedding:
    post:
      operationId: createMultimodalEmbedding
      tags:
        - Embeddings
      summary: Create multimodal embeddings
      parameters:
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbeddingRequest"
      responses:
        "200":
          description: Multimodal embedding response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbeddingResponse"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: DashScope API key
  parameters:
    AsyncHeader:
      name: X-DashScope-Async
      in: header
      required: false
      description: Set to enable for asynchronous task creation.
      schema:
        type: string
        enum:
          - enable
    SseHeader:
      name: X-DashScope-SSE
      in: header
      required: false
      description: Set to enable for server-sent event streaming.
      schema:
        type: string
        enum:
          - enable
    WorkspaceHeader:
      name: X-DashScope-WorkSpace
      in: header
      required: false
      description: Workspace ID for non-default workspaces.
      schema:
        type: string
  schemas:
    DashScopeRequest:
      type: object
      additionalProperties: true
      required:
        - model
        - input
      properties:
        model:
          type: string
        input:
          $ref: "#/components/schemas/DashScopeInput"
        parameters:
          type: object
          additionalProperties: true
    DashScopeInput:
      type: object
      additionalProperties: true
      properties:
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        prompt:
          type: string
        negative_prompt:
          type: string
          description: Prompt content to exclude from generated video or image output.
        audio_url:
          type: string
          description: Public audio URL for Wan video models that accept driving or custom audio.
        img_url:
          type: string
          description: First-frame image URL for legacy Wan image-to-video models such as wan2.6-i2v.
        media:
          type: array
          description: Media assets for Wan 2.7 image-to-video tasks. Supported type values include first_frame, last_frame, driving_audio, and first_clip.
          items:
            $ref: "#/components/schemas/DashScopeMedia"
        reference_urls:
          type: array
          description: Reference image or video URLs for Wan reference-to-video models such as wan2.6-r2v.
          items:
            type: string
        reference_video_urls:
          type: array
          deprecated: true
          description: Deprecated Wan reference-to-video field. Use reference_urls instead.
          items:
            type: string
        contents:
          type: array
          items:
            type: object
            additionalProperties: true
    DashScopeMedia:
      type: object
      additionalProperties: true
      required:
        - type
        - url
      properties:
        type:
          type: string
          description: Wan media role such as first_frame, last_frame, driving_audio, or first_clip.
        url:
          type: string
          description: Public HTTP or HTTPS URL for the media asset.
    Message:
      type: object
      additionalProperties: true
      required:
        - role
      properties:
        role:
          type: string
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ContentPart"
    ContentPart:
      type: object
      additionalProperties: true
      properties:
        text:
          type: string
        image:
          type: string
        video:
          type: string
        audio:
          type: string
    DashScopeResponse:
      type: object
      additionalProperties: true
      properties:
        request_id:
          type: string
        code:
          type: string
        message:
          type: string
        output:
          $ref: "#/components/schemas/DashScopeOutput"
        usage:
          $ref: "#/components/schemas/Usage"
    DashScopeOutput:
      type: object
      additionalProperties: true
      properties:
        text:
          type: string
        finish_reason:
          type: string
        choices:
          type: array
          items:
            type: object
            additionalProperties: true
        task_id:
          type: string
        task_status:
          type: string
        task_metrics:
          type: object
          additionalProperties: true
        submit_time:
          type: string
          description: Time when the asynchronous task was submitted.
        scheduled_time:
          type: string
          description: Time when the asynchronous task started running.
        end_time:
          type: string
          description: Time when the asynchronous task finished.
        video_url:
          type: string
          description: Generated video URL returned after a successful Wan video task.
        orig_prompt:
          type: string
          description: Original prompt submitted with the task.
        actual_prompt:
          type: string
          description: Prompt used by the model after prompt rewriting, when returned.
        results:
          type: array
          items:
            type: object
            additionalProperties: true
        finished:
          type: boolean
    Usage:
      type: object
      additionalProperties: true
      properties:
        input_tokens:
          type: integer
        output_tokens:
          type: integer
        total_tokens:
          type: integer
        image_count:
          type: integer
        size:
          type: string
        duration:
          type: number
          format: float
          description: Total billable video duration, in seconds, when returned by video tasks.
        input_video_duration:
          type: number
          format: float
          description: Input video duration, in seconds, when returned by video tasks.
        output_video_duration:
          type: number
          format: float
          description: Output video duration, in seconds, when returned by video tasks.
        video_duration:
          type: integer
          description: Generated video duration, in seconds, for legacy video task responses.
        video_ratio:
          type: string
          description: Generated video aspect-ratio label for legacy video task responses.
        video_count:
          type: integer
          description: Number of generated videos.
        SR:
          type: integer
          description: Resolution tier returned by Wan video task responses.
        audio:
          type: boolean
          description: Indicates whether a generated video includes audio.
    EmbeddingRequest:
      type: object
      additionalProperties: true
      required:
        - model
        - input
      properties:
        model:
          type: string
        input:
          oneOf:
            - type: string
            - type: array
              items: {}
            - type: object
              additionalProperties: true
        parameters:
          type: object
          additionalProperties: true
    EmbeddingResponse:
      type: object
      additionalProperties: true
      properties:
        request_id:
          type: string
        code:
          type: string
        message:
          type: string
        output:
          type: object
          additionalProperties: true
          properties:
            embeddings:
              type: array
              items:
                $ref: "#/components/schemas/EmbeddingObject"
        usage:
          $ref: "#/components/schemas/Usage"
    EmbeddingObject:
      type: object
      additionalProperties: true
      properties:
        embedding:
          type: array
          items:
            type: number
            format: float
        text_index:
          type: integer
